/* static/css/base.css */
body {
    background-color: black;
    color: white; /* Optional: makes text visible */
    padding-top: 70px;
    min-height: 70rem;
    padding-top: 4.5rem;
}
h1 {
    color:red;
}
.bookcover {
    height: 300px;
    width: auto;
}
.selfie {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}