{% extends "_base.html" %}
{% load static %}

{% block content %}
<div align="center" class="container mt-4">
    <h1 class="mt-4">My Profile</h1>
{% if user.profile.image %}
  <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-pic">
{% else %}
  <img src="/media/default.jpg" alt="{{ user.username }}">
{% endif %}
    <h2>Welcome, {{user.username }}</h2>
    <p>You are the current {{ user.profile.primary_job.job.title }} of the {{ user.profile.location }} location.</p>
    <p>Phone: {{user.profile.phone}}</p>
    <p>Shirt Size: {{user.profile.shirt_size}}</p>
    <p>Emergency Contact: {{user.profile.emergency_contact}}</p>
    <p>Emergency Contact Phone: {{user.profile.emergency_contact_number}}</p>
    <p>Start date: {{user.profile.start_date}}</p>
    <p><a href="{% url 'upload_pdfs' %}" target="_blank">Up Load PDF</a></p>
    <p><a href="{% url 'profile-edit' %}">Edit Profile</a></p>
</div>

{% endblock content %}