{% extends '_base.html' %}
{% block content %}
<h2>Job List</h2>
<a href="{% url 'jobbase_create' %}" class="btn btn-primary mb-3">Add Job</a>

<table class="table table-striped">
  <tr><th>Title</th><th>Department</th><th>Hourly Rate</th><th>Actions</th></tr>
  {% for job in jobs %}
  <tr>
    <td>{{ job.title }}</td>
    <td>{{ job.department }}</td>
    <td>${{ job.hourly_rate }}</td>
    <td>
      <a href="{% url 'jobbase_update' job.id %}" class="btn btn-sm btn-warning">Edit</a>
      <a href="{% url 'jobbase_delete' job.id %}" class="btn btn-sm btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
